<extend name="Layout/extend" />
<block name="header">
<import type='css' file="Css.croppic" />
<import type='js' file="Js.croppic" />
<import type='js' file="Js.upload" />
<import type='js' file="Js.jquery-form" />
</block>
<block name="contenter">
<div class="container theme-showcase" role="main">
<div class="panel panel-default">
  <div class="panel-heading">基本资料</div>
  <div class="panel-body">
  		<form class="form-horizontal" method="post">
  		  <input type="hidden" name="id" value="<?php echo $host['id']?>" >
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">公司名称</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" placeholder="请填写您的公司名称" required name="name" maxlength="32" value="{$host['name']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">联系电话</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" placeholder="请填写您的联系电话" required name="tel" maxlength="32" value="{$host['tel']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">手机号码</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" placeholder="请填写您的手机号码" required name="mobile" maxlength="11" value="{$host['mobile']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">联系地址</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" placeholder="请填写您的地址" required name="address" maxlength="64" value="{$host['address']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">邮箱地址</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" placeholder="请填写您的邮箱地址" required name="email" maxlength="32" value="{$host['email']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">备案号吗</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" placeholder="请填写您的备案号吗" required name="copyright" maxlength="32" value="{$host['copyright']}">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">网站关键字</label>
		    <div class="col-sm-10">
		      <textarea rows = "5" class="form-control" placeholder="请填写您的网站关键字" required name="keyword" maxlength="256">{$host['keyword']}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">网站描述</label>
		    <div class="col-sm-10">
		      <textarea rows = "5" class="form-control" placeholder="请填写您的网站描述" required name="description" maxlength="256">{$host['description']}</textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Favicon</label>
		    <div class="col-sm-10" data-type = "favicon_url" class="img-add img-thumbnail" data-save-url = "<?php echo U('/admin/index/ajax_save_client','','')?>" data-width="32" data-height="32" data-upload-height="32" data-upload-width="32" data-flag="true">
		    	<?php if($host['favicon_url']):?>
		    		<img src="{$host['favicon_url']}" width="32" height="32" class="img-add"/>
		    	<?php else:?>
		    		<i class="iconfont img-add" id="favicon">&#xe65b;</i>
		    	<?php endif;?>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Logo</label>
		    <div class="col-sm-10" data-type = "logo_url" class="img-add img-thumbnail" data-save-url = "<?php echo U('/admin/index/ajax_save_client','','')?>" data-width="100" data-height="100" data-upload-height="200" data-upload-width="200" data-flag="true">
		      	<?php if($host['logo_url']):?>
		    		<img src="{$host['logo_url']}" width="100" height="100" class="img-add"/>
		    	<?php else:?>
		    		<i class="iconfont img-add" id="logo">&#xe65b;</i>
		    	<?php endif;?>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">电话图片</label>
		    <div class="col-sm-10" data-type = "contact_url" class="img-add img-thumbnail" data-save-url = "<?php echo U('/admin/index/ajax_save_client','','')?>" data-width="100" data-height="100" data-upload-height="200" data-upload-width="200" data-flag="true">
		      <?php if($host['contact_url']):?>
		    		<img src="{$host['contact_url']}" width="100" height="100" class="img-add"/>
		    	<?php else:?>
		    		<i class="iconfont img-add" id="contact">&#xe65b;</i>
		    	<?php endif;?>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">二维码</label>
		    <div class="col-sm-10" data-type = "wechat_url" data-save-url = "<?php echo U('/admin/index/ajax_save_client','','')?>">
		    	<?php if($host['contact_url']):?>
		    		<img src="{$host['contact_url']}" width="100" height="100" class="img-add"/>
		    	<?php else:?>
		    		<i class="iconfont img-add" id="contact">&#xe65b;</i>
		    	<?php endif;?>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">保存确定</button>
		    </div>
		  </div>
		</form>
		<?php if($error):?>
      		<div class="alert alert-danger text-center" role="alert"><?php echo $error;?></div>
      	<?php endif;?>
  </div>
</div>
</div> <!-- /container -->
<form class="form-horizontal hidden" id="img-add-form" data-curl="<?php echo U('/admin/upload/img','','')?>">
   <div class="col-sm-9">
   	<input type="hidden"  class="" value="1" name="image_file"/>
   	<input type="file"  id="img-add-form-file" class="pointer" name="image" />
   	<input type="hidden" name="image" />
   </div>
</form>
<div id="upload-loading" style="position: absolute;left: 0px; right: 0px;top: 0px;background: rgba(0, 0, 0, 0.5);;width: 100%;height: 100%;z-index: 9999999; display:none;">
	<div class="upload-loading">
	  <div class="upload-loading-container container1">
	    <div class="circle1"></div>
	    <div class="circle2"></div>
	    <div class="circle3"></div>
	    <div class="circle4"></div>
	  </div>
	  <div class="upload-loading-container container2">
	    <div class="circle1"></div>
	    <div class="circle2"></div>
	    <div class="circle3"></div>
	    <div class="circle4"></div>
	  </div>
	  <div class="upload-loading-container container3">
	    <div class="circle1"></div>
	    <div class="circle2"></div>
	    <div class="circle3"></div>
	    <div class="circle4"></div>
	  </div>
	</div>
</div>
<script>
var croppicContainerModalOptions = {
		uploadUrl:'<?php echo U('/admin/upload/crop/img','','')?>',
		cropUrl:'<?php echo U('/admin/save/crop/img','','')?>',
		modal:false,
		imgEyecandyOpacity:0.4,
		loadPicture:'<?php echo $host['wechat_url']?U($host['wechat_url'],'',''):'';?>',
		loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
		onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
		onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
		onImgDrag: function(){ console.log('onImgDrag') },
		onImgZoom: function(){ console.log('onImgZoom') },
		onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
		onAfterImgCrop:function(that){
			if(that.status=='success'){
				$.post($('#'+$(this).attr('id')).attr('data-save-url'),{key:$('#'+$(this).attr('id')).attr('data-type'),value:that.url})
			}
		},
		onReset:function(that){
			console.log(that);
			$.post($('#'+$(this).attr('id')).attr('data-save-url'),{key:$('#'+$(this).attr('id')).attr('data-type'),value:''})
		},
		onError:function(errormessage){ console.log('onError:'+errormessage) }
}
var cropContainerModal = new Croppic('wechat', croppicContainerModalOptions);
</script>
</block>
