/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 15px;
}
footer {
  padding: 30px 0;
}
img{
	max-width:100%;
}
/*
 * top
 * --------------------------------------------------
 */
.row-top{
	height:100px;
	line-height:100px;
}
.row-top img{
  height: 75px;
}
nav.navbar-inverse {
    background-color: #2f7ae0;
    border-color: #2f7ae0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgb(32, 111, 218);
    border-color: #2f7ae0;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #f00;
    background-color: rgb(32, 111, 218);
    border-color: #2f7ae0;
}
.nav>li>a {
	padding: 15px 40px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #2f7ae0;
    border-color: #eee;
}
.navbar-link>li{
	 padding: 0px !important;
}
.navbar-link>li>a {
    padding: 0px !important;
    padding-right: 30px;
    color: #333;
}
footer {
    padding: 15px 0;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.footer{
	color: #333;
    background-color: #eee;
}
h2.title{
	font-size: 15px;
	font-weight: bold;
}
.btn-default{
	font-size: 12px;
}
.navbar-link{
	margin: 7.5px 0px;
}
#scrollUp {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    bottom: 70px;
    right: 10px;
    background: url(../Image/top.png) no-repeat;
}
i.icon{
	font-size:18px;
	color: #2f7ae0;
	margin-right:5px;
}
i.white-icon{
	color: #fff
}
i.contact-icon {
    font-size: 24px;
    color: #333;
}
.row-offcanvas-right{
	position: relative;
}
button[data-toggle='offcanvas']{
	position: absolute;
	right: 20px;
	z-index: 9;
	top:10px;
}
button[data-toggle='offcanvas'].btn-primary {
    background-color: #2f7ae0;
    border-color: #2f7ae0;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
  .row-top img {
    height: 55px;
  }
  #top{
  	text-align: center;
  }
  .row-top {
    height: 75px;
    line-height: 75px;
  }
  body {
    padding-top: 0px;
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    	background-color: #2f7ae0;
    	border-color: #fff;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    	border-color: #f3f3f3;
	}
}